:root{
    
    --body-color: #EEEEEE;
    --container-color: #222831;
    --div-color: #393e46;
    --text-color: #00ffee;
    --active-color: #00ffee;
    --active-i-color: #222831;
    --toggle-grad: linear-gradient(145deg, #4d4d4d, #a7a7a7);
    --toggle-shadow: -3px -3px 10px #4d4d4d,
                    3px 3px 5px #000000aa;
    --ball-translate: translateX(0px);
    --toggle-sun-color: #ffe600;
    --toggle-moon-color: #000000;
    --ball-color: #00ffee;
    --controll-shadow-color1: #00ADB5;
    --active-shadow-color1: #000000ab;
    --active-shadow-color2: rgba(0, 0, 0, 0.305);
    --controll-shadow-color2: rgba(0, 0, 0, 0.834);
    --controll-icon-color: #0a585c;
    --stop-color: rgb(199, 34, 245);
    --circle-color1: #000000ab;
    --timeline-icolor: rgb(0, 0, 0);
    --text-bgc: #6d6d6da4;
}
.lightmode{
    --body-color:  #f1b911;
    --container-color: #e3e3e3;
    --div-color: #ffffff;
    --text-color: #383838;
    --active-color: #ffe600;
    --active-i-color:#383838;
    --toggle-grad: linear-gradient(145deg, #dcdcdc, #ffffff);
    --toggle-shadow: 3px 3px 10px #000000b8,
                    -3px -3px 5px #bababa;
    --ball-translate: translateX(30px);
    --toggle-sun-color: #383838;
    --toggle-moon-color: #ffb300;
    --ball-color: #ffb300;
    --controll-shadow-color1:rgba(255, 183, 0, 0.851);
    --controll-shadow-color2: rgba(216, 22, 22, 0.375);
    --active-shadow-color1: #000000ab;
    --active-shadow-color2: rgba(0, 0, 0, 0.305);
    --controll-icon-color: #000000;
    --stop-color: rgb(216, 22, 22);
    --circle-color1: #000000ab;
    --timeline-icolor: rgb(216, 22, 22);
    --text-bgc: #ffffff93;
}
body{
    background-color: var(--body-color);
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    place-items: center;
}
.container{
    position: relative;
    background-color: var(--container-color);
    min-height: 100%;
    box-sizing: content-box;  
    width: 100%;
    display: grid;
    grid-template-columns: 230px auto 95px;
    grid-gap: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.left{
    
    background-color: var(--div-color);
    /* border-radius: 20px 0 0 20px; */
    height: 100vh;
    width: 230px;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: min-content 60px 40px 10px 100px 10px min-content 10px;
    justify-content: center;
    position: fixed;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}
.left .hideleft{
    display: none;
}
/* .left .dl{
    background-color: #000000;
    height: 20px;
    margin-bottom: 10px;
} */
.left .pic{
    background-color: var(--container-color);
    background-image: url("bais_nobg.png");
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    align-self: center;
    justify-self: center;
    /* box-shadow: 3px 3px 10px var(--controll-shadow-color1),
                -3px -3px 10px var(--controll-shadow-color1); */
}
.left .text{
    margin-top: 5px;
    text-align: center;
    color: var(--text-color);
}
.left .text h3{
    margin-top: 0px;
}
.left .text p{
    margin-top: -20px;
}
.left .icon-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    place-items: center;
    
}
.left .icon-box .icon{
    cursor: pointer;
    background-color: var(--container-color);
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 3px var(--controll-shadow-color1),
                inset 0 3px 3px var(--controll-shadow-color2);
}
.left .icon-box .icon i{
    font-size: 0.9rem;
    color: var(--text-color);
    pointer-events: none;
} 
.left .line hr{
    margin: auto;
    width: 180px;
    border: 1px solid var(--container-color);
    box-shadow: 2px 0px 5px var(--text-color);
}
.left .about{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content min-content;
    gap: 10px;
    color: var(--text-color);
    padding-top: 5px;
    font-weight: 500;
    font-size: 13px;
}
.left .about .left-span{
    background-color: var(--div-color);
    display: inline;
    border-radius: 3px;
    padding: 1px 3px;
    box-shadow: 0 3px 3px var(--controll-shadow-color1),
                inset 0 3px 5px var(--controll-shadow-color2);
}
.left .skill{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5px;
    margin-bottom: 20px;
    color: var(--text-color);
}
.left .skill .heading{
    grid-column: 1 / -1;
    font-weight: bold;
    font-size: 15px !important;
    padding-bottom: 10px;
}
.left .skill .percentage{
    text-align: right;
}
.left .skill span{
    font-size: 12px;
    font-weight: 500;
}
.left .skill .skill-hr{
    grid-column: 1 / -1;
    display: inline;   
}
.left .skill .skill-hr hr{
    border: none;
    height: 3px;
    margin: 0;
    background: linear-gradient(to right, var(--body-color),var(--body-color), var(--stop-color));
}
.left .extra-skill{
    display: grid;
    color: var(--text-color);
    margin-top: 5px ;
}
.left .extra-skill .heading{
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
}
.left .extra-skill i{
    font-weight: bold;
    padding-bottom: 10px;
    background: linear-gradient(to right, var(--body-color),var(--stop-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left .extra-skill span{
    font-size: 13px;
    font-weight: 500;
    position: relative;
    top: -5px;
}
.right{
    background-color: var(--div-color);
    /* border-radius: 0 20px 20px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 95px;
    position: fixed;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}
.toggle{
    position: relative;
    width: 60px;
    height: 25px;
    border-radius: 50px;
    /* margin-bottom: 1.5rem; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: var(--toggle-grad);
    box-shadow: var(--toggle-shadow);
    transition: 0.3s;
}
.toggle .fa-sun{
    color: var(--toggle-sun-color);
    transition: 1s;
}
.toggle .fa-moon{
    color: var(--toggle-moon-color);
    transition: 1s;
}
.toggle i{
    width: 50%;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    z-index: 1;
}
.toggle .ball{
    background-color: var(--ball-color);
    position: absolute;
    width: 20px ;
    height: 20px;
    border-radius: 50%;
    margin: 3px 5px;
    transform: var(--ball-translate);
    transition: 0.3s ease-out;
    box-shadow: 1px 1px 5px var(--container-color);
}
#toggleMode{
    display: none; 
}
.right .control{
    cursor: pointer;
    background-color: var(--container-color);
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 1.5rem 0; */
    box-shadow: 0 3px 10px var(--controll-shadow-color1),
                inset 0 3px 10px var(--controll-shadow-color2);
               

}
.right .active-btn{
    background-color: var(--active-color) !important;
    transition: all .5s ease-in-out;
    box-shadow: 0 3px 4px var(--active-shadow-color1),
                inset 0 3px 10px var(--active-shadow-color2) !important;
}
.right .active-btn i{
    color: var(--active-i-color) !important;
}
.right .control i{
    font-size: 1.2rem;
    color: var(--text-color);
    pointer-events: none;
}
.control::before{ /*creating tool text for ToolTip*/
    content: attr(data); /*recieves data from html attribute*/
    position: absolute;
    background-color: var(--body-color); /* to change the color recieved from html attribute style*/
    color: var(--controll-icon-color);
    font-weight: bold;
    text-decoration: none;
    padding: 0.2em 0.3em;
    border-radius: 70px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-25px) rotate(25deg);
    opacity: 0;
    transition: 200ms ease;
}
.control::after{/*creating tool tip for ToolTip*/
    content: '';
    position: absolute;
    /*making trangle*/
    height: 0;
    width: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid var(--body-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 180ms ease;

}
.control:hover::before{
    transform: translateY(-40px) rotate(0);
    opacity: 1;
}
.control:hover::after{
    transform: translateY(-25px) rotate(0);
    opacity: 1;
}
#cv-dwnld{
    display: none;
}
.cv{
    position: relative;
    width: 80px;
    height: 25px;
    border-radius: 50px;
    /* margin-bottom: 1.5rem; */
    /* margin-top: 50px; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--toggle-grad);
    box-shadow: var(--toggle-shadow);
    transition: 0.3s;
    color: var(--text-color);
}
.cv span{
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
}
.cv i{
    color: var(--text-color);
}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.upper{
    flex-grow: 1;
    background-color: var(--div-color);
    border-radius: 3px;
    /* background-image: url('2865.jpg'); */
    background-size: cover; /* Adjust size */
    background-position: center 30%; /* Center the image */
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 230px;
    width: 100%;
    box-shadow:  1px 1px 10px #00000095;
}
.upper .fortab{
    display: none;
}
.upper .text2{
    /* background-color: #c3c3c3; */
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-top: 65px;

}
.upper .text2 .cv{
    display: none;
}
.upper .text2 .span{
    font-size: clamp(2rem, 3vw, 6rem);
    font-weight: 700;
    display: inline-block;
    padding: 0;
    color: var(--text-color);
    
}
.upper .text2 span{
    display: inline-block;
}
.upper .text2 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height:  3rem;
    line-height: 3rem;
    overflow: hidden;
    margin-bottom: 10px;
}
.upper .text2 li{
    list-style: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--body-color);
    position: relative;
    top: 0px;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -12rem;
    }
}
.upper .text2 li span{
    position: relative;
}
.upper .text2 li span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 20%;
    height: 80%;
    width: 100%;
    background: var(--div-color);
    border-left: 3px solid var(--text-color);
    animation: typing 3s steps(19) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -15px 0 10px;
    }
}
/* .upper .text2 .span2{
    font-size: 1.2rem;
    padding: 0;
    width: 20vw;
    color: var(--text-color);
} */
.upper .picture{
    /* background-color: #bd93933b; */
    background: url('bais_nobg.png') no-repeat center/contain;
    /* max-width: auto;
    height: auto; */
}
.lower{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr min-content;
    grid-gap: 45px
}
.serviceText{
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center;
    color: var(--text-color);
    
}
.serviceText h2{
    max-width: 500px;
    margin: 2px;
    padding: 0;
    line-height: 1 
}
.serviceText p{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    max-width: 500px;
    margin: 2px;
}
.serviceOptions{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 0px;
    gap: 30px;
}
.options{
    background-color: var(--div-color);
    width: 160px;
    height: 160px;  
    padding: 20px;
    text-align: center; 
    color: var(--text-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px min-content min-content;
    box-shadow:  1px 1px 10px #000000ba;
}
.options:hover{
    box-shadow:  4px 4px 30px #000000ba;
    transform: scale(1.002);
}
.options i{
    font-size: 3rem;
    align-self: center;
    color: var(--body-color);
}
.options span{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
}
/* skill section */
#Skill {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#Skill .skillPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
#Skill .skillPicture img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
.skillRoom{
    /* background-color: var(--div-color); */
    width: 160px;
    height: 160px;  
    color: var(--text-color);
    border-radius: 10px;
    position: relative;
}
.skillRoom .outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px var(--circle-color1);
}
.skillRoom .inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px var(--circle-color1),
                -0.5px -0.5px 5px rgba(0, 0, 0, 0.874),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05)
}
.inner img{
    height: 70px;
}
.inner h4{
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
}

.numb{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
}
.skillRoom circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 440;
     
}
.circle1{
    stroke-dashoffset: 440;
    animation: circle1 2s linear forwards;
}
@keyframes circle1 {
    100%{
        stroke-dashoffset: 44;
    }  
}
.circle2{
    stroke-dashoffset: 440;
    animation: circle2 2s linear forwards;
}
@keyframes circle2 {
    100%{
        stroke-dashoffset: 66;
    }  
}
.circle3{
    stroke-dashoffset: 440;
    animation: circle3 2s linear forwards;
}
@keyframes circle3 {
    100%{
        stroke-dashoffset: 88;
    }  
}
.circle4{
    stroke-dashoffset: 440;
    animation: circle4 2s linear forwards;
}
@keyframes circle4 {
    100%{
        stroke-dashoffset: 88;
    }  
}
.circle5{
    stroke-dashoffset: 440;
    animation: circle5 2s linear forwards;
}
@keyframes circle5 {
    100%{
        stroke-dashoffset: 132;
    }  
}
.circle6{
    stroke-dashoffset: 440;
    animation: circle6 2s linear forwards;
}
@keyframes circle6 {
    100%{
        stroke-dashoffset: 242;
    }  
}
.circle7{
    stroke-dashoffset: 440;
    animation: circle7 2s linear forwards;
}
@keyframes circle7 {
    100%{
        stroke-dashoffset: 198;
    }  
}
.circle8{
    stroke-dashoffset: 440;
    animation: circle8 2s linear forwards;
}
@keyframes circle8 {
    100%{
        stroke-dashoffset: 154;
    }  
}
.skillRoom svg{
    position: absolute;
    top: 0;
    left: 0;
}
.skillRoom #GradientColor .stop1{
    stop-color: var(--active-color);
}
.skillRoom #GradientColor .stop2{
    stop-color: var(--stop-color);
}
#Education{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
#Education .eduPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
#Education .eduPicture img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
.timeline{
    position: relative;
    color: var(--text-color);
    /* max-width: 1200px; */
    /* margin: 20px auto; */
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--stop-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 30px;
}
.time-container{
    box-sizing: border-box;
    padding: 10px 20px; 
    position: relative;
    width: 50%;
}
.textbox{
    padding: 15px 15px;
    position: relative;
    border-radius: 15px;
    font-size: 1rem;
    background-color: var(--div-color);
    box-shadow:  1px 1px 10px #000000ba;
    transition: transform 0.1s ease;
}
.textbox:hover{
    box-shadow:  4px 4px 30px #000000ba;
    transform: scale(1.002);
}
.textbox h2, h4{
    color: var(--stop-color);
}
.textbox h2, h4, p{
    margin: 8px;
}

.time-left-container{
    left: 0;
}
.time-right-container{
    left: 50%;
}
.time-container .fa-user-graduate{
    position: absolute;
    font-size: large;
    right: -20px;
    top: 32px;
    z-index: 10;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 50% 50% 0;
    text-align: center;
    background: linear-gradient(to left, var(--active-color), var(--div-color));
    color:var(--timeline-icolor);
    
}
.time-container .fa-user-tie{
    position: absolute;
    font-size: large;
    right: -20px;
    top: 32px;
    z-index: 10;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 50% 50% 0;
    text-align: center;
    background: linear-gradient(to left, var(--active-color), var(--div-color));
    color:var(--timeline-icolor);
    
}
.time-right-container .fa-user-graduate{
    left: -20px;
    border-radius: 50% 0 0 50%;
    background: linear-gradient(to right, var(--active-color), var(--div-color));
}
.time-right-container .fa-user-tie{
    left: -20px;
    border-radius: 50% 0 0 50%;
    background: linear-gradient(to right, var(--active-color), var(--div-color));
}
#Experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
#Experience .expPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
#Experience .expPicture img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
#Projects .upper{
    background-image: url(underconstruction.jpg);
    background-size: 70% 100%; 
    background-repeat: no-repeat;
    background-position: center;
}


/* for tablets */
@media only screen and (max-width: 768px){
.dummy-left{
    display: none;
}
.right{
    background-color: var(--container-color);
    /* border-radius: 0 20px 20px 0; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    box-shadow:0 3px 15px var(--controll-shadow-color1)
}
.control::before{
    display: none;
}
.control::after{
    display: none;
}
.dummy-right{
    display: none;
}
.right .toggle-btn{
    display: none;
}
.container{
  display: flex;
  flex-direction: column;
}
.main{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}
.upper .fortab{
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 2px;

}
.upper .fortab .showleft{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 3px 10px var(--controll-shadow-color1),
                inset 0 3px 10px var(--controll-shadow-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
.showleft i{
    font-size: x-large;
}
.upper .fortab .toggle-btn{
    margin-right: 10px;
    opacity: 0.6;
}
.upper .text2 .cv{
    display: block;
    position: relative;
    width: 80px;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--toggle-grad);
    box-shadow: var(--toggle-shadow);
    transition: 0.3s;
    color: var(--text-color);
}
.right .cv_div{
    display: none;
}
.left{
    /* display: none !important; */
    background-color: var(--div-color);
    /* border-radius: 20px 0 0 20px; */
    height: 100%;
    width: 230px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: min-content 60px 40px 10px 100px 10px min-content 10px min-content 50px;
    justify-content: center;
    position: fixed;
    z-index: 3;
    left: -245px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    box-shadow:0 3px 15px var(--controll-shadow-color1);
    transition: left 0.4s ease-in-out;
}
.left .hideleft{
    position: absolute;
    left: 190px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 3px 10px var(--controll-shadow-color1),
                inset 0 3px 10px var(--controll-shadow-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
.hideleft i{
    font-size: x-large;
}

}
/* for mobiles */
@media only screen and (max-width: 480px){
.upper .picture{
    display: none;
}
.upper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.upper .fortab{
    position: fixed;
    top: 0;
}
.upper .text2{
    padding: 0;
    margin: 0;
    margin-top: 80px;
}
.lower .serviceText p{
    width: 300px; 
}
#Skill .skillPicture{
    display: none;
}
#Skill .upper{
    text-align: center;
}
#Education .eduPicture{
    display: none;
}
#Education .upper{
    position: relative;
}
#Education .upper .text2{
    z-index: 10;
    background-color: var(--text-bgc);
    text-align: center;
}
#Education .upper::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('institution.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Control image opacity */
    z-index: 1;
}
#Education .span{
    text-align: center;
}
.timeline::after{
    left: 10%;
    margin-right: -3px;
}
.time-container{
    width: 85%;
    left: 10%;
}
.time-container .fa-user-graduate{
    left: -20px;
    border-radius: 50% 0 0 50%;
    background: linear-gradient(to right, var(--active-color), var(--div-color));   
}
.time-container .fa-user-tie{
    left: -20px;
    border-radius: 50% 0 0 50%;
    background: linear-gradient(to right, var(--active-color), var(--div-color));   
}
.time-container h2{
    font-size: 1.2rem;
}
#Experience .expPicture{
    display: none;
}
#Experience .upper{
    position: relative;
}
#Experience .upper .text2{
    z-index: 10;
    background-color: var(--text-bgc);
    text-align: center;
}
#Experience .upper::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('experience.png');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Control image opacity */
    z-index: 1;
}
}
